@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: 255, 255, 255;
  --background-dark: 0 29 24;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(var(--background-light));
}

.dark body {
  background-color: rgb(var(--background-dark));
}